*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("tail.jpg");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}
body, html {
    height: 100%;
    margin: 0;
}
/* img{
  max-width: 100%;
} */
@font-face {
  font-family: 'Jenna Sue';
  src:url(JennaSue.ttf);
}
@font-face {
  font-family: 'Langdon';
  src:url(Langdon.otf);
}
@font-face {
  font-family: 'Nobile';
  src:url(Nobile-Regular.ttf);
}
.row{
  padding-left: 10%;
  padding-right: 10%;
}
.bhangra{
  position: absolute;
  top: 450px;
  height: 150px;
  width: 100px;
}
#about {
  background: rgba(130,195,216,0.5);
  font-weight: normal;
  /* width: 960px; */
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
  text-align: center;
}
#about_name{
  font-family: 'Jenna Sue';
  font-size: 80px;
  color: white;
  /* position: absolute; */
  /* top: 15%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
#about_date{
  font-family: 'Jenna Sue';
  font-size: 53px;
  color: white;
  /* position: absolute; */
  /* top: 25%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
#about_location{
  font-family: 'Jenna Sue';
  font-size: 40px;
  color: white;
  /* position: absolute; */
  /* top: 32%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
#about_hash{
  font-family: 'Courier';
  font-size: 25px;
  color: white;
  /* position: absolute; */
  /* top: 32%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
#story, #photo, #info, #sched, #reg {
  background: rgba(130,195,216,0.6);
  font-weight: normal;
  /* width: 960px; */
  margin: 0 auto;
  /* margin-top: 20px; */
  /* position: relative; */
  text-align: center;
  display: none;
}
#story h1, #photo h1, #info h1, #sched h1, #reg h1 {
  color: #FFFFFF;
  font-weight: 300;
}
#story h2, #info h2, #sched h2{
  font-family: 'Nobile';
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: underline;
  text-align: left;
  margin-left: 25px;
}
#story p {
  color: #FFFFFF;
  font-weight: 500;
}
#story .swipe {
  font-family: 'Nobile';
  color: #FFFFFF;
  font-weight: 500;
  font-size: 40px;
}
#story .swipe1, #info p {
  font-family: 'Nobile';
  color: #FFFFFF;
  font-weight: 500;
  font-size: 30px;
}
#story .propText{
  font-family: 'Nobile';
  color: #FFFFFF;
  font-weight: 400;
  font-size: 30px;
}
#story #propPic {
  width: 300px;
  height: 300px;
  /* float:left;
  clear:both;
  display: inline-flex; */
}
#story #engage{
  width: 300px;
  height: 300px;
}

#info ul{
  font-family: 'Nobile';
  color: #FFFFFF;
  margin-left: 25px;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}

#sched h4{
  font-family: 'Nobile';
  color: #FFFFFF;
  font-weight: 400;
}

#sched p{
  font-family: 'Nobile';
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
}
.figure-caption{
  font-size: 90%!important;
  color: #FFFFFF!important;
  font-weight: 500!important;
}
.img-thumbnail{
  border: 2px solid #b2f7b2!important;
  background-color: rgba(130,195,216,0.6)!important;
}

/* #photo img{
  width: 350px;
  height: 250px;
} */
